bin/
obj/
.DS_Store
.vs
PuzzleHelper/Cookie.txt
/AdventOfCode.csproj.user

# Ignore user generated inputs since AoC rules request they not be included
# https://www.reddit.com/r/adventofcode/wiki/faqs/copyright/inputs/
Inputs/* 
